#abilities{
	color:white;

	.box-abilities{
		@include flexbox;
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(center);
		.ability{
			//width:33%;
			
			font-family: garamondRegular, sans-serif;
			letter-spacing: 1px;
			@include rem-fallback(padding-top,10);
			@include rem-fallback(padding-bottom,10);
			.ability-name{
				@include font-size(16,18);
				@include rem-fallback(padding-top,20);
				@include rem-fallback(padding-bottom,10);
			}
			.ability-desc{
				@include font-size(13,14);
			}
			.ability-circle{
				width:160px;
				height:160px;
				@include border-radius(100px);
				background-color:$second-color;
				margin:0 auto;
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
				img{
					width:85%;
				}
			}

			&.in-viewport{
				@include animation-ease($myBezier);
				@include fade-in-up(0.5s);
			}
		}
	}
}